PORT=3002
HOST=0.0.0.0

# Database Configuration
POSTGRES_HOST=your-neon-host.neon.tech
POSTGRES_PORT=5432
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB_DEVELOPMENT=salesman_app_dev
DATABASE_URL="postgresql://user:password@host:5432/dbname?sslmode=require"

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=1d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_RESET_SECRET=your_jwt_reset_secret_key
JWT_RESET_EXPIRATION=3600

# Puppeteer
PUPPETEER_SKIP_DOWNLOAD=true

# Environment
NODE_ENV=development
VERCEL=true

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# Cron
CRON_SECRET=your_cron_secret

# Google Maps API Key
GOOGLE_MAPS_API_KEY=your_google_maps_api_key

# AWS Configuration
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
AWS_REGION=ap-southeast-2
CONTRACT_AWS_BUCKET_NAME=contract-signature-images
VISIT_AWS_S3_BUCKET_NAME=visit-logs-images
